.git
.vs/
__pycache__/
*.py[cod]
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.env.*
infra/packedlambda.zip
images/*.zip
images/*.pdf
